.header {
  background-color: rgba(34, 31, 31, 0.76);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.headerContainer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: auto;
  height: 5em;
}

.hamburger {
  cursor: pointer;
}

.icon {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0px;
  width: 3em;
  height: 3em;
}

.menu {
  display: none;
  list-style: none;
  margin: 0px;
}

.menu li {
  display: flex;
  align-items: center;
  height: 2.5em;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.329);
}

.menu li:hover a {
  color: #000;
}

.menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  padding-left: 1em;
}

.open {
  display: block;
}

button {
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  box-shadow: none;
}
