.home {
    margin-bottom: 130px;
}

.imgFundo img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 800px;
}

.container {
    display: flex;
    position: relative;
    z-index: 2;
}

.left, .right {
    display: block;
    position: relative;
    z-index: 3; 
}

.left {
    margin-top: -200px;
    right: 1%;
    background-image: url(../../assets/elipse-home.png); 
    background-repeat: no-repeat;
    padding: 20px; 
    box-sizing: border-box;
    width: 30%;
}

.leftText {
    position: relative;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    font-weight: bold;
    top: 10%;
    left: 15%;
}

.right {
    flex: 1; 
    padding: 20px;
}

.right a {
    text-decoration: none;
}

.rightText{
    position: relative;
    text-align: center;
    color: rgb(78, 78, 78);
    font-size: 22px;
}
