.FaleConosco {
    width: 100%;
    padding: 0;
    margin: 0;  
}

.FaleConosco h2 {
    font-size: 18px;
    margin-bottom: 10px;
}


.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/planoFundoContactUs.png');
    padding: 20px;
    margin: 20px 20px;
}

.contato-superior {
    display: flex;
    width: 100%;
    max-width: 100%; /* Garante que não extrapole a largura */
    box-sizing: border-box;
}

.detalhesContato {
    flex: 0 0 45%; /* Ocupa 45% do espaço */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;   
}

.secao-form {
    flex: 1;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco para o formulário */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px;
    background-color: #f0f0f0;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 24px;
    text-align: justify;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
 
}
