.fundo-tela {
  position: relative;
  background: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 100%;
}

.titulo-carrossel {
  font-size: 2rem;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.meu-carrossel {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 10px 0; /* Espaço para os botões de navegação */
}

.meu-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nome-cliente {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.imagem {
  height: 100%;
  border-radius: 5px;
}

.avaliacao {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 0px 30px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .titulo-carrossel {
    font-size: 1.5rem;
  }

  .nome-cliente {
    font-size: 1.3rem;
  }

  .avaliacao {
    font-size: 1rem;
  }
}
