.header {
  padding: 10px 20px;
  background-color: rgba(34, 31, 31, 0.76);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}



.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Alinha os itens do menu à direita */
  width: 100%; /* Certifique-se de que o menu ocupa toda a largura disponível */
}

.menu a {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 30px;
  width: 150px;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
}

.menu a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .menu {
    display: none; /* Esconde o menu por padrão em telas menores */
    flex-direction: column;
    width: 80%;
    background-color: rgba(34, 31, 31, 0.76);
    align-items: center;
    padding: 10px 0;
  }

  .menuOpen {
    display: flex; /* Exibe o menu quando está aberto */
  }

  .menuClosed {
    display: none; /* Garante que o menu está oculto quando fechado */
  }

  .menuToggle {
    display: block; /* Exibe o botão do menu hambúrguer */
  }

  .menu a {
    width: auto; 
    margin: 5px 0; 
    padding: 10px 15px; 
    font-size: 0.6rem;
  }

  .menu li {
    padding: 0.8rem;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Esconde o menu por padrão em telas menores */
    flex-direction: column;
    width: 100%;
    background-color: rgba(34, 31, 31, 0.76);
    padding: 10px 0;
  }

  .logo img {
    width: 70%;
  }
  .menuOpen {
    display: flex; /* Exibe o menu quando está aberto */
  }

  .menuClosed {
    display: none; /* Garante que o menu está oculto quando fechado */
  }

  .menuToggle {
    display: block; /* Exibe o botão do menu hambúrguer */
  }

  .menu a {
    width: auto; 
    margin: 5px 0; 
    padding: 10px 15px; 
    font-size: 0.6rem;
  }
  
  /* Adiciona espaçamento entre itens do menu */
  .menu li {
    padding: 0.8rem;
  }
}

@media (max-width: 390px) {
  .menu a {
    font-size: 0.5rem;
  }
}
