.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

@media (max-width: 1199px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}

.textContainer {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.textContainer p {
  margin: 0px !important;
}

.textContainer h1 {
  font-size: 2rem !important;
  color: #333;
}

@media (max-width: 1199px) {
  .textContainer {
    margin-right: 0;
    margin-bottom: 20px;
    gap: 30px;
    align-items: center;
  }

  .textContainer p {
    font-size: 0.8rem !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  
  .textContainer h1 {
    font-size: 1.3rem !important;
  }
}

.responsiveImage {
  width: 500px;
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1199px) {
  .responsiveImage {
    width: 80%;
    margin: 0px auto 20px auto;
    order: 1;
  }
}
