.secaoDuvidasFrequentes {
  background-color: #ffffff;
  margin: 50px 0;
}

.secaoDuvidasFrequentes h2 {
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px 150px;
}

.container h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: black;
}

.duvidaContainer {
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 0;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.pergunta {
  cursor: pointer;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pergunta p {
  font-size: 1.5rem;
}

.seta::after {
  content: "\25BC";
  content: "";
  font-size: 1rem;
  color: white;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 20px;
}

.resposta {
  margin: 10px 0 0;
  color: white;
  padding: 15px;
}

.resposta p {
  font-size: 1.3rem;
}

@media (max-width: 1199px) {

  .container h2 {
    font-size: 1.5rem;
  }

  .secaoDuvidasFrequentes {
    padding: 30px 0;
  }

  .duvidaContainer {
    margin: 15px 0;
    border-radius: 15px;
    padding: 10px;
  }

  .pergunta {
    padding: 10px;
  }

  .pergunta p {
    font-size: 1rem;
  }

  .resposta {
    padding: 5px;
  }

  .resposta p {
    padding: 0px;
    font-size: 0.8rem;
  }

  .container {
    margin: 0px 40px !important;
  }
}
