/* Estilos gerais */
.secaoDuvidasFrequentes {
  background-color: #ffffff;
  padding: 50px 0;
}

.secaoDuvidasFrequentes h2 {
  margin-bottom: 50px;
  font-size: 2rem;
  text-align: center;
  color: black;
}

.container {
  margin: auto;
  padding: 0 20px;

}

.duvidaContainer {
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 0;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.pergunta {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seta {
  margin-left: 0.5rem;
  margin-right: 20px;
}

.resposta {
  margin: 10px 0 0;
  color: white;
  padding: 15px;
  font-size: 1rem;
}

/* Responsividade de 0 a 768px */
@media (max-width: 768px) {
  .secaoDuvidasFrequentes {
    padding: 20px 10px;
  }

  .duvidaContainer {
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
  }

  .pergunta {
    font-size: 1rem;
    padding: 10px;
  }

  .resposta {
    font-size: 0.9rem;
    padding: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }
}

/* Responsividade de 768px a 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
  .secaoDuvidasFrequentes {
    padding: 30px 0;
  }

  .duvidaContainer {
    margin: 15px 0;
    border-radius: 15px;
    padding: 10px;
  }

  .pergunta {
    font-size: 1.1rem;
    padding: 10px;
  }

  .resposta {
    font-size: 0.95rem;
    padding: 10px;
  }

  h2 {
    font-size: 1.8rem;
  }
}
