.secaoFooter {
    background-color: black;
}

.footerLogoCenariar {
    position: relative;
    margin: 0;
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 200px;
    height: auto;
}

div h3 {
    text-align: center;
    color: white;
}

.div-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-contato p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.centralizado {
    text-align: center;
    font-size: 30px;
}

.redesSociais {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 120px;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.social-icons a {
    color: #fff;
    transition: color 0.3s ease;
}

.social-icons i {
    font-size: 30px;
}

.social-icons a:hover {
    color: #007bff;
}

.containerContatos{
 display: flex;
 align-items: center;
 justify-content: space-between;      
}

@media (max-width: 1199px) {

    .containerContatos {
        width: 100%;
        justify-content: space-around; 
    }

    .footerLogoCenariar {
        text-align: center; 
    }

    .container {
        flex-direction: column; 
        gap: 0px; 
        align-items: center; 
        padding-bottom: 20px;
    }

    .logo {
        max-width: 150px; 
    }

    .div-contato p {
        font-size: 1rem ; 
        margin-top: 10px; 
    }

    .centralizado {
        font-size: 1.5rem ; 
    }

    .redesSociais {
        margin-right: 0; 
    }

    .social-icons {
        margin-top: 15px; 
        gap: 15px ;
    }

    .social-icons i {
        font-size: 1.5rem; 
    }
}
